/*-- scss:defaults --*/
// Base document colors
//$body-bg: #181818;
//$body-color: white;
$link-color: #00609C;
$navbar-bg:  #C10230; 
$sidebar-fg:  #B19110;
$sidebar-hl: #C10230;
$navbar-fg: #E2E1E0;
// Code blocks
$code-block-bg-alpha: -.8;